#body > #intro {
    height: 500px;
    background-image: url("https://media.tenor.com/GGyzIMKUTeEAAAAM/message-notification.gif");
    margin-top: 5rem;
    padding-top: 20px;
    padding-left: 20px;
    background-size: 100vw 500px;
}

#body {
    width: 100vw;
    overflow: hidden;
}

#body > p {
    color: white;
}